// color 
$globle : #F5F5F5;
$button_blue: #4E5FFF;
$heading_color :#000000E0;
$table_border: #0000000F ;
$danger_color:#FF4D4F;  
$shadow:#00000008;
$border_color: #00000026;
$place_color:#00000040;
$input_icon:#00000073; 
$table_tdcolor:#000000A6;
$active:#DCDEFF;

//font
$regular: 'Poppins';

// font-weight 
$semi:500;
$semi_bold:600;
$semi_ebold:700;
$normal:400;

// globle  
$cap:capitalize;
$transition:all .3s ease-in-out;
$between:space-between;
 

